<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aerial.db.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aerial.db.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aerial.db.Properties.Settings>
            <setting name="ApplicationPilot" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlBackColor" serializeAs="String">
                <value>LawnGreen</value>
            </setting>
            <setting name="ControlForeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SelectedBackColor" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="SelectedForeColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="FinishedForeColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="ButtonForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ButtonBackColor" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="ControlColor" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewSpecificPilots" serializeAs="String">
                <value />
            </setting>
        </Aerial.db.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Aerial.db.Properties.Settings>
            <setting name="WorkingFolder" serializeAs="String">
                <value>C:\Users\nick.GROWSAWYER\pilot\</value>
            </setting>
        </Aerial.db.Properties.Settings>
    </applicationSettings>
</configuration>