<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aerial.db.WOP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aerial.db.WOP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Aerial.db.WOP.Properties.Settings>
            <setting name="WorkingFolder" serializeAs="String">
                <value>C:\Users\Nick\Downloads\pilot\</value>
            </setting>
            <setting name="CleanupPeriodInHours" serializeAs="String">
                <value>24</value>
            </setting>
        </Aerial.db.WOP.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Aerial.db.WOP.Properties.Settings>
            <setting name="ViewSpecificPilots" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRefresh" serializeAs="String">
                <value>True</value>
            </setting>
        </Aerial.db.WOP.Properties.Settings>
    </userSettings>
</configuration>